$primary-color: #fff;
$base-bg-color: #fff;

$font-lg: 26px;

$text-base-color: #000;

.sen {
    font-family: "Sen", serif;
    font-optical-sizing: auto;
    font-weight: 400, 800;
    font-style: normal;
}